<!DOCTYPE html>
<html>
<body>

<h1>The audio autoplay attribute</h1>

<p>Click on the play button to play a sound:</p>

<audio controls autoplay>
  <source src="https://github.com/ferilee/web-lee/blob/main/assets/musik/musi_relax_instrumen.ogg" type="audio/ogg">
  Your browser does not support the audio element.
</audio>
  <p>The music is running in the background.</p>
  <p>(Song: Kalimba which is provided as a Sample Music in Windows)</p>
  <embed src="https://github.com/ferilee/web-lee/blob/main/assets/musik/musi_relax_instrumen.ogg" loop="true" autostart="true" width="2" height="0">
</body>
</html>
