{{- partial "init.html" . -}}

{{- $params := .Scratch.Get "params" -}}
{{- $pwa := .Scratch.Get "pwa" -}}
{{- $offline := $params.offline -}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp" />
        <title>
            {{- block "title" . }}{{ .Site.Title }}{{ end -}}
        </title>

        {{- partial "head/meta.html" . -}}
        {{- partial "head/link.html" . -}}
        {{- partial "head/seo.html" . -}}

        {{- $analytics := .Site.Config.Privacy.GoogleAnalytics -}}
        {{- if and (not $analytics.Disable) (.Site.GoogleAnalytics) -}}
            {{- template "_internal/google_analytics.html" . -}}
        {{- end -}}
    </head>
    {{- if ne $offline true -}}

    <script>
        (function (Q, R) {
            if(Q.qr) return;
            var u = 'https://webview.quickreply.ai/whatsapp/script.min.js';
            var h = R.head || R.documentElement;
            var e = R.createElement('script');
            e.type = 'text/javascript';
            e.async = true;
            e.src = u;
            Q.qr = {
                brandSetting: {
                    includePageLink: false,
                    messageText: "Hai mas Ferilee, aku mau bertanya nih!",
                    phoneNumber: "+6281330577592"
                },
                chatButtonSetting: {
                    sideMargin: 20,
                    marginBottom: 20,
                    position: "left",
                    buttonType: "ICON",
                    buttonText: undefined,
                    buttonBgColor: "#04AA6D",
                    buttonTextColor: "#fff"
                }
            };
            e.onload = function () {
                CreateWhatsappChatWidget(Q.qr);
            };
            h.insertBefore(e, h.lastChild);
        })(window, document);
      </script>

    <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
        {{- /* Check theme isDark before body rendering */ -}}
        {{- $theme := .Site.Params.defaulttheme -}}
        <script>(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        <div id="mask"></div>

        {{- /* Body wrapper */ -}}
        <div class="wrapper">
            {{- partial "header.html" . -}}
            <main class="main">
                <div class="container">
                    {{- block "content" . }}{{ end -}}
                </div>
            </main>
            <footer class="footer">
            {{- if ne .Site.Params.footer.enable false -}}
            {{- partial "footer.html" . -}}
            {{- end -}}
            {{- if and (eq hugo.Environment "production") ($pwa.enable) -}}
            {{- partial "pwa.html" . -}}
            {{- end -}}
            </footer>
        </div>

        <div id="fixed-buttons">
            {{- /* top button */ -}}
            <a href="#" id="back-to-top" class="fixed-button" title="{{ T `backToTop` }}">
                <i class="fas fa-chevron-up fa-fw"></i>
            </a>

            {{- /* comment button */ -}}
            {{- if .Site.Params.page.comment.enable -}}
            <a href="#" id="view-comments" class="fixed-button" title="{{ T `viewComments` }}">
                <i class="fas fa-comment-alt fa-fw"></i>
            </a>
            {{- end -}}
        </div>

        {{- /* Load JavaScript scripts and CSS */ -}}
        {{- partial "assets.html" . | replaceRE `<script src="/sw.min.js"></script>` `` | safeHTML -}}

        <!--Start of Intelliticks Script
          <script type='text/javascript'>
            (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'rBtTfZv9dgCWDCaQk_c', {});
          </script>
          End of Intelliticks Script-->

          <!--Start of Tawk.to Script-->
          <script type="text/javascript">
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/64ae9a2794cf5d49dc631da8/1h550kar8';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
          </script>
          <!--End of Tawk.to Script-->

        </body>
    {{- else if eq $offline true -}}
    <body>
        {{- /* Check theme isDark before body rendering */ -}}
        {{- $theme := .Site.Params.defaulttheme -}}
        <script>(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        {{- /* Body wrapper */ -}}
        <div class="wrapper">
            <main class="main">
                <div class="container">
                    {{- block "content" . }}{{ end -}}
                </div>
            </main>
        </div>
    </body>
    {{- end -}}
</html>
